/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [UserID]
      ,[GroupeID]
      ,[Nom]
      ,[Prenom]
      ,[Email]
      ,[Login]
      ,[Pwd]
      ,[Killed]
      ,[LangueID]
      ,[Essais]
      ,[AccesAnnonceurs]
      ,[AccesSites]
      ,[AccesAgences]
      ,[ReseauUserFtpAcces]
      ,[AccesAbonnements]
      ,[SALevel]
      ,[PwdEncrypted]
      ,[PwdObsolete]
      ,[PwdLastChangedOn]
      ,[LastLoggedOn]
      ,[AccessPostTest]
      ,[LastChangedOn]
      ,[CreationDate]
      ,[CustomerSupportOfficeId]
  FROM [AdGestion].[dbo].[AdReseauUser] where [Login] like '%nombre%'