/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ReseauID]
      ,[NomReseau]
      ,[NomReseauCourt]
      ,[Publisher]
      ,[Killed]
      ,[RelativeLink]
      ,[Logo]
      ,[BarterReseau]
      ,[Entete]
      ,[PixelReseau]
      ,[IFrameReseau]
      ,[TagWithName]
      ,[StatDomainID]
      ,[MotsClesReseau]
      ,[DataCenterID]
      ,[DomainPrefix]
      ,[QuovaReseau]
      ,[FullDomain]
      ,[TimeZone]
      ,[TimeZoneStatID]
      ,[ClickTagName]
      ,[ClickTargetName]
      ,[SmartOneCall]
      ,[KeywordTargetingCookieName]
      ,[MobileReseau]
      ,[PostTests]
      ,[AlentyReseau]
      ,[HostedGenericFunction]
      ,[AlentySpecificName]
      ,[LogActionReseau]
      ,[ForecastPerFormatReseau]
      ,[GestionRunId]
      ,[PublisherDirectCall]
      ,[IFrameOutReseau]
      ,[MediaReseau]
      ,[RemoteReseau]
      ,[AjaxReseau]
      ,[ScenarioReseau]
      ,[DirectCall]
      ,[ATinternetImpressionsReseau]
      ,[AnnonceurPackReseau]
      ,[TargetingUTF8]
      ,[TestReseau]
      ,[TickDiffuseJS]
      ,[WebReseau]
      ,[DefaultCustomerSupportOfficeId]
      ,[PwdValidPeriod]
      ,[hasBehaviouralTargeting]
      ,[Oba]
      ,[ExtraDetails]
      ,[hasCorrelationByPriority]
      ,[hasHadoopExport]
      ,[hasResponsiveDesignRotation]
      ,[hasRTB]
      ,[HadoopNbDaysToKeep]
      ,[MediaScanReseau]
      ,[TargetingExactMatch]
      ,[MultiCriteriaReporting]
      ,[MultiCriteriaForecast]
      ,[VideoPluginDomain]
      ,[isAdexNetwork]
      ,[hasHadoopLongterm]
      ,[HadoopActivationDate]
      ,[FirstHadoopDate]
      ,[HasForecastPayOption]
      ,[IanaTimezone]
      ,[isVideo]
      ,[hasGenericCall]
      ,[CountOneCallDefaultNoAdPixel]
      ,[SDKPlayerId]
      ,[SDKPlayerConfigId]
  FROM [AdGestion].[dbo].[AdReseau] where ReseauID=396